In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats

In [3]:
#uploading the dataset
data = pd.read_csv("C:/Users/reshm/Documents/ISB/Statistical analysis/SA1_Group_11.csv")

C:\Users\reshm\AppData\Local\Temp\ipykernel_17632\3786471387.py:1: DtypeWarning: Columns (1,12) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("C:/Users/reshm/Documents/ISB/Statistical analysis/SA1_Group_11.csv")

In [72]:
data.head()

,Index,SL_NO,ST_CODE,DIST_CODE,TTM_CODE,SECTOR_CODE,VT_CODE,WORKED_FOR_1D,CLOSED_Y,OPER_DUR_MM,...,DECLINE_IN_GOP,DMD_PROB,WORK_CAP_PROB,RAW_MTRL_PROB,POWER_RPOB,LABOUR_PROB,MKT_PROB,EQUIP_PROB,MGMT_PROB,YoY_GOP
0,10255,1402,28,22,10,1,422040,1,,12,...,1,1,2,1,1,1,1,2,2,-18.43169
1,3043,15603,28,14,23,1,18414,1,,12,...,2,,,,,,,,,9.302326
2,57056,21194,28,17,35,2,417070,1,,12,...,2,,,,,,,,,60.0
3,44051,51480,28,7,12,1,6234,1,,11,...,2,,,,,,,,,0.0
4,51556,33043,28,5,,2,,1,,12,...,2,,,,,,,,,-7.692308

In [9]:
#minimum and maximum values in GOP_Year3 variable
min(data['GOP_Year3']), max(data['GOP_Year3'])

(0.0, 908105000000.0)

In [16]:
#First and third Quartiles of the GOP_Year3 variable and the Inter Quartiles Range
q25, q75 = np.percentile(data['GOP_Year3'], 25), np.percentile(data['GOP_Year3'], 75)
iqr = q75 - q25
print(q25, q75)
print(iqr)

In [35]:
# Data less than and greater than Q2 and Q3 by 1.5*IQR are considered outliers
# 1660 records identified as outliers

lower, upper = q25-iqr*1.5, q75+iqr*1.5
outliers = [x for x in data['GOP_Year3'] if x < lower or x > upper]

In [41]:
final_data = [x for x in data['GOP_Year3'] if x > lower and x < upper]

In [51]:
len(final_data) #8340 useful records
min(final_data), max(final_data)

(0.0, 875000.0)

In [44]:
GOP = pd.DataFrame(final_data)

In [46]:
# Let mu be the sample mean and sigma_s be the sample standard deviation
mu = GOP.mean()
sigma_s = GOP.std()
print(mu)
print(sigma_s)

0    145247.327458
dtype: float64
0    170349.027353
dtype: float64

In [54]:
## As we are consider the data as a sample, we don't know the population standard deviation. 
## We will estimate sample standard deviation to calculate the Confidence Interval using t distribution.
## Degrees of freedom (df) and t value 
df = 8340 - 1
print("degress of freedom is", df)
t_value = 1.9602    ### same as Z value as the df is very high
print("t_value at 5% significance level is", t_value)

degress of freedom is 8339
t_value at 5% significance level is 1.9602

In [58]:
## Confidence Interval estimation 
## CI = (mu - t_value*sample_s/sqrt(n), mu + t_value*sample_s/sqrt(n))

CI_lower_limit = (mu-t_value*sigma_s/np.sqrt(8340))
CI_upper_limit = (mu+t_value*sigma_s/np.sqrt(8340))

print(CI_lower_limit, CI_upper_limit)

0    141590.680297
dtype: float64 0    148903.974619
dtype: float64

The dataset had outliers that caused skewness in the distribution, hence we removed them. The inter quartile range(IQR) is Rs.3,32,000. There is wide spread in the data, owing to the hetergenous industry units and varying Gross Output amounts.
Sample mean in millions is Rs.145247.33
Sample standard deviation in millions is Rs.170349.03
95% Confidence Interval of mean of 'Gross Output Year 3' is (141590.89, 148903.76), which means there is 95% probability that the population mean of Gross Output Amount lies between Rs.141590.89 and Rs.148903.76.

## Q2.
Define two different measures that you consider most appropriate for measuring the performance of the units.

a) We consider the Net_Year3 metrics, as this is the difference between the physical assets like plant, machinery, buildings etc. and the liabilities like bank loans. It helps to measure the financial strength of a company over a period of time, three years is a decent time period to judge the same.

b) Second variable we consider is the Year-on-year Gross Output. Gross output is the revenue earned from sales or production of the industrial unit and hence a direct measure of performance. The change from previous period gives an understanding about the rate of growth of the company.

In [69]:
data['GOP_Year2']=pd.to_numeric(data['GOP_Year2'], errors='coerce').convert_dtypes()

In [71]:
#Creating a field for Y-o-Y Gross Output.
data['YoY_GOP'] = (data['GOP_Year3']-data['GOP_Year2'])*100/data['GOP_Year2']

In [ ]:
#Set the empty sting values in the column data['GOP_Year2'] to 0
data.loc[data['GOP_Year2'] == ' ', 'GOP_Year2'] = 0 

#Convert the column type to float
data['GOP_Year2'] = data['GOP_Year2'].astype('float')


#Derive the new column YoY Output
data['YoY_Output'] = round((data['GOP_Year3']-data['GOP_Year2'])/data['GOP_Year2']*100,2)

#Handling the inf values
data.loc[~np.isfinite(data['YoY_Output']), 'YoY_Output'] = np.nan

data['YoY_Output'].describe()